## Deliverable 2. Create a Customer Travel Destinations Map.

In [52]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key= "AIzaSyDmLE8ZiPllGjbVziy9_aCC4nuGa5YaWCU")

In [53]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Puerto Ayora,EC,-0.74,-90.35,66.00,89,80,5.01,broken clouds,2020-08-28 01:30:40
1,1,Nanortalik,GL,60.14,-45.24,50.27,63,100,15.41,overcast clouds,2020-08-28 01:27:21
2,2,Busselton,AU,-33.65,115.33,59.00,87,0,1.14,clear sky,2020-08-28 01:27:15
3,3,Hambantota,LK,6.12,81.12,77.00,100,40,1.12,scattered clouds,2020-08-28 01:30:40
4,4,Ribeirao Branco,BR,-24.22,-48.77,55.36,88,0,2.33,clear sky,2020-08-28 01:30:40

In [54]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [55]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Puerto Ayora,EC,-0.74,-90.35,66.00,89,80,5.01,broken clouds,2020-08-28 01:30:40
3,3,Hambantota,LK,6.12,81.12,77.00,100,40,1.12,scattered clouds,2020-08-28 01:30:40
5,5,Bissau,GW,11.86,-15.60,78.57,84,100,5.64,light rain,2020-08-28 01:30:40
8,8,Cidreira,BR,-30.18,-50.21,62.46,73,46,5.21,scattered clouds,2020-08-28 01:30:40
12,12,Atuona,PF,-9.80,-139.03,78.69,74,100,19.04,overcast clouds,2020-08-28 01:30:25
13,13,Faanui,PF,-16.48,-151.75,77.90,77,0,15.59,clear sky,2020-08-28 01:30:41
15,15,Mazagao,BR,-0.12,-51.29,86.00,84,75,11.41,broken clouds,2020-08-28 01:30:41
17,17,Hami,CN,42.80,93.45,73.58,21,100,5.70,overcast clouds,2020-08-28 01:27:34
18,18,San Cristobal,VE,7.77,-72.22,65.95,89,54,2.10,broken clouds,2020-08-28 01:30:41
21,21,Sao Felix Do Xingu,BR,-6.64,-51.99,76.77,60,13,1.41,few clouds,2020-08-28 01:30:41

In [56]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                11
City                   11
Country                11
Lat                    11
Lng                    11
Max Temp               11
Humidity               11
Cloudiness             11
Wind Speed             11
Current Description    11
Date                   11
dtype: int64

In [57]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                11
City                   11
Country                11
Lat                    11
Lng                    11
Max Temp               11
Humidity               11
Cloudiness             11
Wind Speed             11
Current Description    11
Date                   11
dtype: int64

In [58]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,66.00,broken clouds,-0.74,-90.35,
3,Hambantota,LK,77.00,scattered clouds,6.12,81.12,
5,Bissau,GW,78.57,light rain,11.86,-15.60,
8,Cidreira,BR,62.46,scattered clouds,-30.18,-50.21,
12,Atuona,PF,78.69,overcast clouds,-9.80,-139.03,
13,Faanui,PF,77.90,clear sky,-16.48,-151.75,
15,Mazagao,BR,86.00,broken clouds,-0.12,-51.29,
17,Hami,CN,73.58,overcast clouds,42.80,93.45,
18,San Cristobal,VE,65.95,broken clouds,7.77,-72.22,
21,Sao Felix Do Xingu,BR,76.77,few clouds,-6.64,-51.99,

In [59]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# # 6b. Iterate through the hotel DataFrame.
for index, hotel in hotel_df.iterrows():
    
     # 6c. Get latitude and longitude from DataFrame
    
    lat = hotel["Lat"]
    lng = hotel["Lng"]
    params["location"]= f'{lat},{lng}'
    
     # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [60]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   11
Country                11
Max Temp               11
Current Description    11
Lat                    11
Lng                    11
Hotel Name             11
dtype: int64

In [61]:
# 8a. Create the output File (CSV)
output_data_file = "weather_data/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [70]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current Description}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))